ETL_SQL_SERVER=localhost\MSSQLS_YR
ETL_SQL_DRIVER=ODBC Driver 17 for SQL Server
ETL_STAGING_DB=StagingDB
ETL_DW_DB=DataWarehouseDB
ETL_SQLITE_DB_PATH=d:\PFE_final\mock database\magasin_mock.db
ETL_SOURCE_TYPE=sqlite
ETL_MAPPING_PATH=d:\PFE_final\mock database\etl_mapping.mock.json
ETL_SOURCE_SQL_SERVER=localhost\MSSQLS_YR
ETL_SOURCE_SQL_DB=SourceDB
ETL_SOURCE_SQL_DRIVER=ODBC Driver 17 for SQL Server
ETL_SOURCE_SQL_TRUSTED=yes
ETL_SOURCE_SQL_USER=
ETL_SOURCE_SQL_PASSWORD=
ETL_SOURCE_SYSTEM=MOCK
ETL_DEFAULT_COUNTRY=Unknown
ETL_DEFAULT_CATEGORY=General
